/* {
  margin: 0;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Popins, sans-serif;
  padding: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  background-image: url(../assets/hikerPanorama.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.header__nav {
  text-align: right;
}

.header__nav__element {
  display: inline-block;
  list-style: none;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.header__containnerLogoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__containnerLogoTitle .logo {
  width: 300px;
  height: 300px;
}

.hike__tmpl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
}

.hike__tmpl-detailes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.hike__tmpl-subdetailes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.hike__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 200px;
}

.hike__search {
  font-size: 15px;
  font-family: inherit;
  margin-bottom: 5%;
}

.hike__search-btn {
  display: inline-block;
  background: #066ef7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.hike__search-btn:hover {
  font-weight: 800;
}

.hike__search input {
  padding: 10px;
  color: #161111;
}

.hike__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.hike__controls-btn {
  display: inline-block;
  background: #161111;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.hike__controls-btn:hover {
  font-weight: 800;
}

.hike__controls-btn:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

.hike__controls-btn:focus {
  outline: none;
}

.add {
  background: #03bb1b;
  color: #fff;
}

.modify {
  background: #4c4e50;
  color: #fff;
}

.delete {
  background: #ff0000;
  color: #fff;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #4c4e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  bottom: 0;
}

.footer__container {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.footer-link {
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: #ff0000;
}

.footer__social {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__social {
    max-width: 70%;
  }
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4c4e50;
  color: #fff;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer__social-link:hover {
  color: #066ef7;
}

.footer__social-link i {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  font-size: 1.5em;
}
